# Dependencies
node_modules/

# Build output
dist/

# SQLite
*.db
*.db-journal
*.db-wal

# Mount point
mnt/

# Move build
contract/build/
contract/package_summaries/

# Generated code
app/src/generated/

# OS
.DS_Store

# Environment
.env
.env.local
